@page "/display_graph"

<h1>Graphs</h1>
<Graph Values="20,30,40,50,60,70,80,90"
       Colors="#339090, #903378, #a3a322, #45a3b4, #456712, #777666, #986144, #555666"/>
<hr>
<Graph Values="200,300,400,500,600,700,800,900"
       Colors="#339090, #903378, #a3a322, #45a3b4, #456712, #777666, #986144, #555666"
       Countries="Ukraine,Poland,USA,Belorus,Czech,Brazil,Iran,Romania"/>
<hr>

@code {
    
}