@page "/"

<h1>Hello SVG world!</h1>
<svg width="350" height="100">
    @* <circle r="40" cx="50" cy="50" stroke="green" stroke-width="4" fill="yellow"></circle> *@
    <circle r="18" cx="22" cy="80" stroke="#409040" stroke-width="4" fill="#90DD90"></circle>
    <circle r="12" cx="300" cy="50" stroke="#409040" stroke-width="4" fill="#90DD90"></circle>
    <text x="5" y="90" fill="#208020" transform="rotate(-5)">
        Welcome to WSB's Bio-Inspired simulator
    </text>
</svg>